.body-content{
  display:block;
  height:100%;
  weight:100%;
  font-size:14px;
}

.header{
  display:block;
  height:130px;
  width:100%;
}

.footer {
  position:fixed;
  bottom:0;
  display:block;
  height:30px;
  width:100%;
  background:#eee;
  text-align:center;
}

h2 {
  text-align: center;
}

.main-content{
  display:block;
  margin-top:15px;
  margin-bottom:130px;
  padding-top:25px;
  height:100%;
  width:100%;
}

.logo {
  background: url("../images/logo.png");
  height:130px;
  width:350px;
  float:left;
}

.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
